/*CSS file for styling the website*/
/* Website Styling */
 
/*Body Styling*/
body {
    background-color: rgb(200, 180, 255);
  margin: 0;
padding: 10px;
font-style: italic;
font-family:Georgia, 'Times New Roman', Times, serif; }

/*Heading Styling*/
    .sub-heading {
   color:purple; }

   .header{
   text-align:center;
  font-size:34px;
  padding: 25px;
  border-radius:20px;
  background-color:whitesmoke;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  color:purple;
}

/*Paragraph Styling*/
.main {
background-color:whitesmoke;
}

.paragraph {
  font-size:18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(64, 79, 7);
  background-color:rgb(255, 255, 255);
  display: inline-block;
}

.paragraph1 {
  font-size:18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:rgb(87, 87, 87);
}

   /* Navigation Bar Styling */
nav {
  margin-bottom: 10px;
}

nav a {
  background-color: rgb(239, 189, 24);
  color:purple;
  padding: 10px 20px;
  border-radius: 25px;
margin-right: 10px;
font-weight: bold;
}

nav a:hover {
  background-color: purple;
color: white;
}

/*Subject styling*/
.subjects-title {
background-color: rgb(239, 189, 24);
  color:purple;
  padding: 10px 10px;
  border-radius: 20px;
  margin-right:10px;
  display:inline-block;
}

/*Gallery Styling*/
.gallery-image1 {
  width: 150px;
  height:200px;
  border-left:auto;
  border-radius: 20px;
  margin-right:10px;
}

.gallery-image2 {
  width: 150px;
  height:200px;
  border-left:auto;
  border-radius: 20px;
  margin-right:10px;
}

.gallery-image3 {
  width:150px;
  height: 200px;
  border-left:auto;
  border-radius: 20px;
  margin-right:10px;
}

.gallery-container {
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color:whitesmoke;
  padding: 10px;
  display:inline-block;
  border-radius: 20px;
}

.gallery-container img {
width: 200px;
height: 200px;
border-radius: 10px;
}

/*Grid styling*/
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  background-color: rgb(239, 189, 24);
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: whitesmoke;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/*Footer Styling*/
.footer {
   background-color: rgb(239, 189, 24);
  color:purple;
  padding: 10px 10px;
  border-radius: 20px;
margin-right: 10px;
display:inline-block;  
margin-top: 10px;
}




  
